src/main/resources/schemas/lsc-core-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://lsc-project.org/XSD/lsc-core-1.0.xsd" targetNamespace="http://lsc-project.org/XSD/lsc-core-1.0.xsd" elementFormDefault="qualified">

    <xsd:annotation>
        <xsd:documentation>
            This schema specifies the configuration options for LSC synchronizations tasks.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="ldapConnectionType">
 		<xsd:annotation>
		    <xsd:documentation>Definition for the ldap connections.</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
		</xsd:all>
		<xsd:attribute name="class" type="xsd:string">
		    <xsd:annotation>
		        <xsd:documentation>
					Java class type or shortname to identify implementation
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Mandatory attribute added by XStream parser / dumper. 
		        	You will use it as a reference in the lsc>tasks>task>source or lsc>tasks>task>destination node to map service to connection
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="connectionType">
 		<xsd:annotation>
		    <xsd:documentation>Definition for the connection options.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
 			<xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="username" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<!-- Extensibility -->
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string">
		    <xsd:annotation>
		        <xsd:documentation>
					Java class type to identify implementation. Known shortnames are : ldapConnection, sqlConnection.
					You may add yours by adding the XStreamAlias annotation to your new connection class. 
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Mandatory attribute added by XStream parser / dumper. 
		        	You will use it as a reference in the lsc&gt;tasks&gt;task&gt;source or lsc&gt;tasks&gt;task&gt;destination node to map service to connection
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
	<!-- SQL connection type specific parameters -->
	<xsd:element name="driver" type="xsd:string"/>
	
	<!-- LDAP connection type specific parameter -->
	<xsd:element name="authentication" type="xsd:string" />
	<xsd:element name="referral" type="xsd:string" />
	<xsd:element name="derefAliases" type="xsd:string" />
	<xsd:element name="version" type="xsd:string" /> 
	<xsd:element name="pageSize" type="xsd:integer" />
	<xsd:element name="factory" type="xsd:string" />
	<xsd:element name="tlsActivated" type="xsd:boolean" default="false"/>
	
    <xsd:complexType name="encryptionType">
 		<xsd:annotation>
		    <xsd:documentation>Definition for the encryption properties.</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
 			<xsd:element name="keyfile" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="algorithm" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="strength" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>

	<xsd:complexType name="auditLogRef">
 		<xsd:annotation>
		    <xsd:documentation>Definition for the auditLog node used in task.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="class" type="xsd:string">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Alias to identify the connection class
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="reference" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Mandatory attribute that will reference the corresponding audit
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

    <xsd:complexType name="auditType">
 		<xsd:annotation>
		    <xsd:documentation>Definition for the generic audit properties.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
 			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="appendToLogFile" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="true"/>
			<!-- Extensibility -->
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string">
		    <xsd:annotation>
		        <xsd:documentation>
					Java class type or short name to identify implementation.
					Known shortcuts are csvAudit or ldifAudit.
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
		<!-- 			<xsd:element name="logOnlyLdif" type="xsd:boolean" minOccurs="1" maxOccurs="1" default="false"/> -->
    </xsd:complexType>
	
	<!-- -->
	<xsd:element name="attributes" type="xsd:string" />
	<xsd:element name="separator" type="xsd:string" />
	<xsd:element name="append" type="xsd:boolean" />
	<xsd:element name="outputHeader" type="xsd:boolean"/>
	<xsd:element name="operations" type="xsd:string"/>
	<xsd:element name="taskNames">
		<xsd:complexType><xsd:sequence><xsd:element name="taskName" type="xsd:string" /></xsd:sequence></xsd:complexType>
	</xsd:element>

    <xsd:complexType name="csvAuditType">
 		<xsd:annotation>
		    <xsd:documentation>Definition for the CSV audit properties.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="serviceType">
		<xsd:sequence>
 			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
 			<xsd:element name="connection" minOccurs="1" maxOccurs="1">
 				<xsd:complexType>
					<xsd:attribute name="class" type="xsd:string">
					    <xsd:annotation>
					        <xsd:documentation>
					        	Alias to identify the connection class
					        </xsd:documentation>
					    </xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="reference" type="xsd:integer">
					    <xsd:annotation>
					        <xsd:documentation>
					        	Mandatory attribute that will reference the corresponding connection
					        </xsd:documentation>
					    </xsd:annotation>
					</xsd:attribute>
 				</xsd:complexType>
 			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="class" type="xsd:string">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Alias to identify the service class
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
    <xsd:complexType name="syncOptionsType">
		<xsd:sequence>
 			<xsd:element name="conditions" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string">
		    <xsd:annotation>
		        <xsd:documentation>
					Java class type to identify implementation. Known shortnames are : ldapConnection,  Connection.
					You may add yours by adding the XStreamAlias annotation to your new connection class. 
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
    <xsd:complexType name="taskType">
		<xsd:all>
 			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
 			<xsd:element name="bean" type="xsd:string" minOccurs="1" maxOccurs="1"/>
 			<xsd:element name="cleanHook" type="xsd:string" minOccurs="0" maxOccurs="1"/>
 			<xsd:element name="syncHook" type="xsd:string" minOccurs="0" maxOccurs="1"/>
 			<xsd:element name="destinationService" type="serviceType" minOccurs="1" maxOccurs="1"/>
 			<xsd:element name="sourceService" type="serviceType" minOccurs="1" maxOccurs="1"/>
 			<xsd:element name="syncOptions" type="syncOptionsType" minOccurs="1" maxOccurs="1"/>
 			<xsd:element name="auditLog" type="auditLogRef" minOccurs="0"/>
 		</xsd:all>
		<xsd:attribute name="id" type="xsd:integer">
		    <xsd:annotation>
		        <xsd:documentation>
		        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
		        </xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>

    <xsd:element name="lsc">
    	<xsd:annotation>
    		<xsd:documentation>
    			Root of a profile handler configuration file.
    		</xsd:documentation>
    	</xsd:annotation>
    	<xsd:complexType>
	    	<xsd:all>
	     		<xsd:element name="connections">
	     			<xsd:complexType>
	     				<xsd:sequence>
				    		<xsd:element name="connection" type="connectionType" minOccurs="0" maxOccurs="unbounded" />
	     				</xsd:sequence>
						<xsd:attribute name="id" type="xsd:integer">
						    <xsd:annotation>
						        <xsd:documentation>
						        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
						        </xsd:documentation>
						    </xsd:annotation>
						</xsd:attribute>
	     			</xsd:complexType>
					<!-- Connection id uniqueness
					<xs:key name="uniqueConnectionIdentifier">
						<xs:selector xpath="connection"/>
						<xs:field xpath="@name"/>
					</xs:key> -->
	     		</xsd:element>
	     		<xsd:element name="audits">
	     			<xsd:complexType>
	     				<xsd:sequence>
				    		<xsd:element name="audit" type="auditType" minOccurs="0" maxOccurs="unbounded" />
	     				</xsd:sequence>
						<xsd:attribute name="id" type="xsd:integer">
						    <xsd:annotation>
						        <xsd:documentation>
						        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
						        </xsd:documentation>
						    </xsd:annotation>
						</xsd:attribute>
	     			</xsd:complexType>
					<!-- Audit name uniqueness
					<xs:key name="uniqueAuditIdentifier">
						<xs:selector xpath="audit"/>
						<xs:field xpath="@name"/>
					</xs:key> -->
	     		</xsd:element>
	     		<xsd:element name="tasks">
	     			<xsd:complexType>
	     				<xsd:sequence>
	     					<xsd:element name="task" type="taskType" minOccurs="1" maxOccurs="unbounded"/>
	     				</xsd:sequence>
						<xsd:attribute name="id" type="xsd:integer">
						    <xsd:annotation>
						        <xsd:documentation>
						        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
						        </xsd:documentation>
						    </xsd:annotation>
						</xsd:attribute>
	     			</xsd:complexType>
	     		</xsd:element>
	     		<xsd:element name="security" minOccurs="0" maxOccurs="1">
	     			<xsd:complexType>
	     				<xsd:sequence>
				    		<xsd:element name="encryption" type="encryptionType" minOccurs="0" maxOccurs="1" />
	     				</xsd:sequence>
						<xsd:attribute name="id" type="xsd:integer">
						    <xsd:annotation>
						        <xsd:documentation>
						        	Optional attribute added by XStream parser / dumper. You can leave it or remove it but if you copy a node, do not use the same number twice.
						        </xsd:documentation>
						    </xsd:annotation>
						</xsd:attribute>
	     			</xsd:complexType>
	     		</xsd:element>
	    	</xsd:all>
	    	<xsd:attribute name="id" type="xsd:integer">
	    		<xsd:annotation>
	    			<xsd:documentation>
	    				Optional attribute added by XStream parser / dumper.
	    				You can leave it or remove it but if you copy a
	    				node, do not use the same number twice.
	    			</xsd:documentation>
	    		</xsd:annotation>
	    	</xsd:attribute>
	    	<xsd:attribute name="revision" type="xsd:integer">
	    		<xsd:annotation>
	    			<xsd:documentation>
	    				This mandatory attribute indicates the revision number of this configuration file. This number starts at 0
	    				when the XML configuration is generated from the properties file and must be incremented one by one.
	    			</xsd:documentation>
	    		</xsd:annotation>
	    	</xsd:attribute>
    	</xsd:complexType>
    </xsd:element>

</xsd:schema>