src/main/resources/schemas/lsc-core-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 ****************************************************************************
 * Ldap Synchronization Connector provides tools to synchronize
 * electronic identities from a list of data sources including
 * any database with a JDBC connector, another LDAP directory,
 * flat files...
 *
 *                  ==LICENSE NOTICE==
 * 
 * Copyright (c) 2008 - 2011 LSC Project 
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:

 *    * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 * notice, this list of conditions and the following disclaimer in the
 * documentation and/or other materials provided with the distribution.
 *     * Neither the name of the LSC Project nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
 * IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
 * TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
 * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER
 * OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 * PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 * LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 *                  ==LICENSE NOTICE==
 *
 *               (c) 2008 - 2011 LSC Project
 *         Sebastien Bahloul <seb@lsc-project.org>
 ****************************************************************************
 -->
 <!-- 
 	Changelog:
 	- 02/05/2012: nisConnectionType and nisServiceType have been moved to dedicated XSD file inside the corresponding plugin
 		No new version is released because it has never been implemented before and won't break any existing and functional configuration
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://lsc-project.org/XSD/lsc-core-2.1.xsd"
	targetNamespace="http://lsc-project.org/XSD/lsc-core-2.1.xsd"
	elementFormDefault="qualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0">

	<!-- <xsd:annotation> <xsd:documentation> This schema specifies the configuration 
		options for LSC synchronizations tasks. </xsd:documentation> </xsd:annotation> -->
	<xsd:complexType name="connectionType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:ID" />
			<xsd:element name="url" type="xsd:string" />
			<xsd:element name="username" type="xsd:string" />
			<xsd:element name="password" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:simpleType name="ldapAuthenticationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NONE" />
			<xsd:enumeration value="SIMPLE" />
			<xsd:enumeration value="SASL" />
			<xsd:enumeration value="DIGEST-MD5" />
			<xsd:enumeration value="GSSAPI" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ldapReferralType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IGNORE" />
			<xsd:enumeration value="THROUGH" />
			<xsd:enumeration value="THROW" />
			<xsd:enumeration value="ERROR" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ldapDerefAliasesType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEVER" />
			<xsd:enumeration value="SEARCH" />
			<xsd:enumeration value="FIND" />
			<xsd:enumeration value="ALWAYS" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ldapVersionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="VERSION_2" />
			<xsd:enumeration value="VERSION_3" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ldapConnectionType">
		<xsd:complexContent>
			<xsd:extension base="connectionType">
				<xsd:sequence>
					<!-- LDAP connection type specific parameter -->
					<xsd:element name="authentication" type="ldapAuthenticationType"
						default="SIMPLE" minOccurs="0" />
					<xsd:element name="referral" type="ldapReferralType"
						default="IGNORE" minOccurs="0" />
					<xsd:element name="derefAliases" type="ldapDerefAliasesType"
						default="NEVER" minOccurs="0" />
					<xsd:element name="version" type="ldapVersionType"
						default="VERSION_3" minOccurs="0" />
					<xsd:element name="pageSize" type="xsd:int"
						default="-1" minOccurs="0" />
					<xsd:element name="factory" type="xsd:string"
						default="com.sun.jndi.ldap.LdapCtxFactory" minOccurs="0" />
					<xsd:element name="tlsActivated" type="xsd:boolean"
						default="false" minOccurs="0" />
					<xsd:element name="saslMutualAuthentication" type="xsd:boolean"
						default="false" minOccurs="0" />
					<xsd:element name="sortedBy" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="binaryAttributes" type="valuesType"
						minOccurs="0" />
					<xsd:element name="recursiveDelete" type="xsd:boolean"
						default="false" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="databaseConnectionType">
		<xsd:complexContent>
			<xsd:extension base="connectionType">
				<xsd:sequence>
					<xsd:element name="driver" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="googleAppsConnectionType">
		<!-- URL should contain the domain name like domain.com as declared on 
			google apps -->
		<xsd:complexContent>
			<xsd:extension base="connectionType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="pluginConnectionType">
		<xsd:complexContent>
			<xsd:extension base="connectionType">
				<xsd:sequence>
					<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"
						processContents="lax" />
				</xsd:sequence>
				<xsd:attribute name="configurationClass" type="xsd:string"
					use="optional" />
				<xsd:attribute name="implementationClass" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="valuesType">
		<xsd:sequence>
			<xsd:element name="string" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="encryptionType">
		<xsd:all>
			<xsd:element name="keyfile" type="xsd:string" minOccurs="0" />
			<xsd:element name="algorithm" type="xsd:string" />
			<xsd:element name="strength" type="xsd:int" />
		</xsd:all>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="auditType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:ID" />
			<xsd:element name="append" type="xsd:boolean" minOccurs="0"
				default="true" />
			<xsd:element name="operations" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="file" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="ldifAuditType">
		<xsd:complexContent>
			<xsd:extension base="auditType">
				<xsd:sequence>
					<xsd:element name="logOnlyLdif" type="xsd:boolean"
						default="true" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="csvAuditType">
		<xsd:complexContent>
			<xsd:extension base="auditType">
				<xsd:sequence>
					<xsd:element name="datasets" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="separator" type="xsd:string"
						minOccurs="0" default=";" />
					<xsd:element name="outputHeader" type="xsd:boolean"
						minOccurs="0" default="true" />
					<xsd:element name="taskNames" type="valuesType"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="pluginAuditType">
		<xsd:complexContent>
			<xsd:extension base="auditType">
				<xsd:sequence>
					<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"
						processContents="lax" />
				</xsd:sequence>
				<xsd:attribute name="configurationClass" type="xsd:string" />
				<xsd:attribute name="implementationClass" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="serviceType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:ID" />
			<xsd:element name="connection">
				<xsd:complexType>
					<!-- <xsd:annotation> <xsd:documentation> Mandatory attribute that will 
						reference the corresponding connection </xsd:documentation> </xsd:annotation> -->
					<xsd:attribute name="reference" type="xsd:IDREF" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="syncOptionsType" abstract="true">
		<xsd:sequence>
			<xsd:element name="mainIdentifier" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="forceSyncOptionsType">
		<xsd:complexContent>
			<xsd:extension base="syncOptionsType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="policyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="KEEP" />
			<xsd:enumeration value="FORCE" />
			<xsd:enumeration value="MERGE" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="datasetType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="policy" type="policyType" minOccurs="0" />
			<xsd:element name="defaultValues" type="valuesType"
				minOccurs="0" />
			<xsd:element name="forceValues" type="valuesType"
				minOccurs="0" />
			<xsd:element name="createValues" type="valuesType"
				minOccurs="0" />
			<xsd:element name="delimiter" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="conditionsType">
		<xsd:sequence>
			<xsd:element name="create" type="xsd:string" minOccurs="0" />
			<xsd:element name="update" type="xsd:string" minOccurs="0" />
			<xsd:element name="delete" type="xsd:string" minOccurs="0" />
			<xsd:element name="changeId" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="propertiesBasedSyncOptionsType">
		<xsd:complexContent>
			<xsd:extension base="syncOptionsType">
				<xsd:sequence>
					<xsd:element name="defaultDelimiter" type="xsd:string"
						default=";" />
					<xsd:element name="defaultPolicy" type="policyType"
						default="FORCE" />
					<xsd:element name="conditions" type="conditionsType"
						minOccurs="0" />
					<xsd:element name="dataset" type="datasetType"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="pluginSyncOptionsType">
		<xsd:complexContent>
			<xsd:extension base="syncOptionsType">
				<xsd:sequence>
					<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"
						processContents="lax" />
				</xsd:sequence>
				<xsd:attribute name="configurationClass" type="xsd:string" />
				<xsd:attribute name="implementationClass" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ldapServiceType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:element name="baseDn" type="xsd:string" />
					<xsd:element name="pivotAttributes" type="valuesType"
						minOccurs="0" />
					<xsd:element name="fetchedAttributes" type="valuesType"
						minOccurs="0" />
					<xsd:choice>
						<xsd:element name="getAllFilter" type="xsd:string" />
						<xsd:element name="allFilter" type="xsd:string" />
					</xsd:choice>
					<xsd:choice>
						<xsd:element name="getOneFilter" type="xsd:string" />
						<xsd:element name="oneFilter" type="xsd:string" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ldapSourceServiceType">
		<xsd:complexContent>
			<xsd:extension base="ldapServiceType">
				<xsd:sequence>
					<xsd:element name="cleanFilter" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="filterAsync" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="dateFormat" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="interval" type="xsd:int"
						default="5" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="ldapServerType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OpenLDAP" />
			<xsd:enumeration value="ApacheDS" />
			<xsd:enumeration value="OpenDS" />
			<xsd:enumeration value="OpenDJ" />
			<xsd:enumeration value="OracleDS" />
			<xsd:enumeration value="SunDS" />
			<xsd:enumeration value="NetscapeDS" />
			<xsd:enumeration value="ActiveDirectory" />
			<xsd:enumeration value="NovellEDirectory" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="asyncLdapSourceServiceType">
		<xsd:complexContent>
			<xsd:extension base="ldapSourceServiceType">
				<xsd:sequence>
					<xsd:element name="synchronizingAllWhenStarting" type="xsd:boolean"
						minOccurs="0" default="true" />
					<xsd:element name="serverType" type="ldapServerType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="pluginSourceServiceType">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"
						processContents="lax" />
				</xsd:sequence>
				<xsd:attribute name="configurationClass" type="xsd:string" />
				<xsd:attribute name="implementationClass" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ldapDestinationServiceType">
		<xsd:complexContent>
			<xsd:extension base="ldapServiceType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="databaseSourceServiceType">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:element name="interval" type="xsd:int"
						default="5" minOccurs="0" />
					<xsd:element name="requestNameForList" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="requestNameForObject" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="requestNameForNextId" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="requestNameForClean" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="databaseDestinationServiceType">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:element name="requestNameForList" type="xsd:string" />
					<xsd:element name="requestNameForObject" type="xsd:string" />
					<xsd:element name="requestsNameForInsert" type="valuesType" />
					<xsd:element name="requestsNameForUpdate" type="valuesType" />
					<xsd:element name="requestsNameForDelete" type="valuesType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="googleAppsProvisioningType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UserAccounts" />
			<xsd:enumeration value="Groups" />
			<xsd:enumeration value="OrganizationUnits" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="googleAppsServiceType">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:element name="apiCategory" type="googleAppsProvisioningType"
						default="UserAccounts" />
					<xsd:element name="quotaLimitInMb" type="xsd:int"
						minOccurs="0" default="25000" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="jndiExecDstServiceType">
		<xsd:complexContent>
			<xsd:extension base="ldapDestinationServiceType">
				<!-- should include there a data structure to set variables -->
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="pluginDestinationServiceType">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"
						processContents="lax" />
				</xsd:sequence>
				<xsd:attribute name="configurationClass" type="xsd:string" />
				<xsd:attribute name="implementationClass" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="multiDestinationServiceType">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:element name="xaServices">
						<xsd:complexType>
							<xsd:attribute name="reference" type="xsd:IDREFS"
								use="required" />
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="xaFileDestinationServiceType">
		<xsd:complexContent>
			<xsd:extension base="serviceType">
				<xsd:sequence>
					<xsd:element name="fileType" type="xsd:string"
						minOccurs="0" default="ldif" />
					<xsd:element name="outputDirectory" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="taskType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:ID" />
			<xsd:element name="bean" type="xsd:string" default="org.lsc.beans.SimpleBean" />
			<xsd:element name="cleanHook" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="syncHook" type="xsd:string" minOccurs="0" />
			<xsd:choice>
				<xsd:element name="databaseSourceService" type="databaseSourceServiceType" />
				<xsd:element name="googleAppsSourceService" type="googleAppsServiceType" />
				<xsd:element name="ldapSourceService" type="ldapSourceServiceType" />
				<xsd:element name="asyncLdapSourceService" type="asyncLdapSourceServiceType" />
				<xsd:element name="pluginSourceService" type="pluginSourceServiceType" />
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="databaseDestinationService" type="databaseDestinationServiceType" />
				<xsd:element name="googleAppsDestinationService" type="googleAppsServiceType" />
				<xsd:element name="ldapDestinationService" type="ldapDestinationServiceType" />
				<xsd:element name="jndiExecDstService" type="jndiExecDstServiceType" />
				<xsd:element name="multiDestinationService" type="multiDestinationServiceType" />
				<xsd:element name="xaFileDestinationService" type="xaFileDestinationServiceType" />
				<xsd:element name="pluginDestinationService" type="pluginDestinationServiceType" />
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="propertiesBasedSyncOptions" type="propertiesBasedSyncOptionsType" />
				<xsd:element name="forceSyncOptions" type="forceSyncOptionsType" />
				<xsd:element name="pluginSyncOptions" type="pluginSyncOptionsType" />
			</xsd:choice>
			<xsd:element name="customLibrary" type="valuesType"
				minOccurs="0" />
			<!-- The following element is unsupported at this time -->
			<xsd:element name="auditLog" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="reference" type="xsd:IDREF" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="connectionsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="ldapConnection" type="ldapConnectionType" />
			<xsd:element name="databaseConnection" type="databaseConnectionType" />
			<xsd:element name="googleAppsConnection" type="googleAppsConnectionType" />
			<xsd:element name="pluginConnection" type="pluginConnectionType" />
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
		<!-- Connection id uniqueness <xs:key name="uniqueConnectionIdentifier"> 
			<xs:selector xpath="connection"/> <xs:field xpath="@name"/> </xs:key> -->
	</xsd:complexType>

	<xsd:complexType name="auditsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="csvAudit" type="csvAuditType" />
			<xsd:element name="ldifAudit" type="ldifAuditType" />
			<xsd:element name="pluginAudit" type="pluginAuditType" />
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="tasksType">
		<xsd:sequence>
			<xsd:element name="task" type="taskType" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="securityType">
		<xsd:sequence>
			<xsd:element name="encryption" type="encryptionType"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="optional" />
	</xsd:complexType>
	
	<xsd:complexType name="keysValuesMap">
		<xsd:sequence>
			<xsd:element name="entry" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="key" type="xsd:string" minOccurs="1"/>
						<xsd:element name="value" type="xsd:string" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="lsc">
		<!-- <xsd:annotation> <xsd:documentation> Root of a profile handler configuration 
			file. </xsd:documentation> </xsd:annotation> -->
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="connections" type="connectionsType" />
				<xsd:element name="audits" type="auditsType" minOccurs="0" />
				<xsd:element name="tasks" type="tasksType" />
				<xsd:element name="security" type="securityType"
					minOccurs="0" />
			</xsd:all>
			<xsd:attribute name="id" type="xsd:string" use="optional" />
			<xsd:attribute name="revision" type="xsd:int">
				<!-- <xsd:annotation> <xsd:documentation> This mandatory attribute indicates 
					the revision number of this configuration file. This number starts at 0 when 
					the XML configuration is generated from the properties file and must be incremented 
					one by one. </xsd:documentation> </xsd:annotation> -->
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
